
= render 'layouts/html'

%body{id: bodyid, class: bodyclass}


  %header#main-header
    .container
      .region
        .region-inner
          = mail_to 'info@pulpostereo.pe', 'info@pulpostereo.pe', class: 'icons-email'

  %section#content.container
    .region
      .region-inner
        .sidebar.main-sidebar
          %h1
            = link_to image_tag('logo.png', class: 'img-responsive')
        .sidebar.secondary-sidebar
          = yield

  %footer#main-footer
    %p.copyright &copy; Pulpo Stereo Todos los derechos Reservados.
    %p.kosmyka= link_to image_tag('/assets/logo-kosmyka-footer.png'), 'http://www.kosmyka.com', :target => '_blank'

  = javascript_include_tag 'application'

  = render 'shared/google_analytics'
